* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

p#warning {
    color: red;
    margin: 0 0 5px 0;
    padding: 0 5px;
    background-color: #FFF;
    border: none;
}

p#warning a {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

body {
    position: relative;
}

#signinx {
    height: 400px;
    width: 50%;
    z-index: 99999;
    position: absolute;
    top: 110px;
    left: 25%;
    transition: all 0.3s;
    background-color: #ffffffef;
    border-radius: 5px;
    text-align: center;
    display: none;
}
#sign2{
    width: 80%;
}

.form {
    padding: 10px;
    padding-top: 30px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form h3{
    color: rgb(0, 66, 4);
    font-weight: bold;
    margin-bottom: 30px;
}
.form form p {
    color: red;
    border: solid 1px red;
    border-radius: 4px;
    padding: 8px;
    background-color: rgb(255, 255, 126);
}

.form form input {
    height: 40px;
    width: 100%;
    margin-bottom: 6px;
    outline: none;
    border: solid 1px #cccccc;
    border-radius: 4px;
    padding: 0 8px;
    background-color: #F5F6F8;
}

.form form input:invalid {
    border: 1px solid red;
}

.form form button {
    background-color: #1878F3;
    height: 40px;
    margin-top: 6px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
}

.form form .forget {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: solid 1px #cccccc;
    position: relative;
}

.form form .forget::after {
    content: "hoặc";
    display: block;
    position: absolute;
    width: 50px;
    top: 36px;
    left: calc(50% - 30px);
    padding: 0 10px;
    background-color: #FFF;
    color: #808080;
}

.form form .newid {
    margin: 40px 0 90px 0;
    text-align: center;
}

.form form .newid a#newid {
    background-color: #00A301;
    color: #FFF;
    padding: 10px;
    border-radius: 4px;
}


/* ==================== MOBILE ==================== */

@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    /* [class*="col-"] {
width: 100%;
} */
    * {
        font-size: 13px;
    }
    h3{
        font-size: 16px;
    }
    
#signinx {
    height: 400px;
    width: 90%;
    z-index: 99999;
    position: absolute;
    top: 110px;
    left: 5%;
    transition: all 0.3s;
    background-color: #ffffffef;
    border-radius: 5px;
    text-align: center;
}
#sign2{
    width: 90%;
}

.form {
    padding: 10px;
    padding-top: 30px;
}

.form form {
    display: flex;
    flex-direction: column;
}


}


/* ==================== FULL ==================== */

/* @media only screen and (min-width: 800px) {
    .form form {
        width: 100%;
    }
    .on-top {
        width: 50%;
    }
} */